In [1]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

print(df1)
print(df2)
print(df3)
print(df4)

   id                    auto  ratio  tipooctanaje  kilometraje
0   1        CAMIONETA NISSAN    5.0            90          500
1   2     AUTO TOYOTA COROLLA    3.5            90           50
2   3  CAMIONETA HYLUX TOYOTA    9.5            98          100
3   4   PICK UP NISSAN NAVARA    8.0            98         1000
   id  octanaje  precio_octanaje
0   1        90             13.3
1   2        98             16.6
2   3        85             10.0
   id  year  month  day  kilometraje
0   1  2020      8   14          500
1   2  2020      8   14           50
2   3  2020      8   14          100
3   4  2020      8   14         1000
4   1  2020      8   15          100
5   2  2020      8   15          500
6   3  2020      8   15          150
7   4  2020      8   15            0
   id  year  month  day  precio_octanaje
0   1  2020      8   14             13.3
1   2  2020      8   14             16.6
2   3  2020      8   14             10.0
3   1  2020      8   15             14.0
4   2  2020      8   15             16.0
5   3  2020      8   15              9.5

In [2]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

df1df3 = pd.merge(df1, df3, on='id', how='inner')
print(df1df3)

   id                    auto  ratio  tipooctanaje  kilometraje_x  year  \
0   1        CAMIONETA NISSAN    5.0            90            500  2020
1   1        CAMIONETA NISSAN    5.0            90            500  2020
2   2     AUTO TOYOTA COROLLA    3.5            90             50  2020
3   2     AUTO TOYOTA COROLLA    3.5            90             50  2020
4   3  CAMIONETA HYLUX TOYOTA    9.5            98            100  2020
5   3  CAMIONETA HYLUX TOYOTA    9.5            98            100  2020
6   4   PICK UP NISSAN NAVARA    8.0            98           1000  2020
7   4   PICK UP NISSAN NAVARA    8.0            98           1000  2020

   month  day  kilometraje_y
0      8   14            500
1      8   15            100
2      8   14             50
3      8   15            500
4      8   14            100
5      8   15            150
6      8   14           1000
7      8   15              0

In [3]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

df2df4 = pd.merge(df2, df4, on='id', how='inner')
print(df2df4)

   id  octanaje  precio_octanaje_x  year  month  day  precio_octanaje_y
0   1        90               13.3  2020      8   14               13.3
1   1        90               13.3  2020      8   15               14.0
2   2        98               16.6  2020      8   14               16.6
3   2        98               16.6  2020      8   15               16.0
4   3        85               10.0  2020      8   14               10.0
5   3        85               10.0  2020      8   15                9.5