In [5]:
#  Python
# LENGUAJE DE PROGRAMACION

#  Anaconda
# Software que contiene a Jupyter

#  Jupyter
# Herramienta para escribir programas ( en Python )

# Comentarios

# https://www.w3schools.com/python/

"""
comentarios
comentarios
comentarios
"""

'\ncomentarios\ncomentarios\ncomentarios\n'

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print("Hola, Mundo!")

Hola, Mundo!

In [4]:
# variable NUMERO
x = 5
# variable TEXTO
y = "Hello, World!"

# Imprimir el valor de la variable x
print(x)
# Imprimir el valor de la variable y
print(y)

5
Hello, World!

In [8]:
# x es asignado con el valor de 4
x = 4
print(x)
# luego, x es asignado con el valor de un texto "Hola"
x = "Hola"
print(x)

4
Hola

In [ ]:
# Nombres adeucados para variables

nombre = ""
nombrePersona = ""
nombreDePersona = ""
variable1 = 10
variable2 = 20

variable10 = 100

num = 1

tasaPorcentual = 5

pesoDeNota = 0.50
pesoNota   = 0.25

listaDeVariables = []

In [9]:
# tipos de datos

#  Text Type:	str
# tipo TEXTO

t = "Hola"
print(t)

Hola

In [11]:
# tipos de datos

#  Numeric Types:	int, float, complex
# tipo NUMERO

# entero
n = 10
print(n)

# decimal
pi = 3.1415
print(pi)

10
3.1415

In [12]:
# tipos de datos

#  Sequence Types:	list, tuple, range

# lista, tupla, rango

lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [ ]:
# tipos de datos

#  Mapping Type:	dict
# mapas

# ...

In [13]:
# tipos de datos

#  Set Types:	set, frozenset
# Conjuntos

set = (1,2,3)
print(set)

(1, 2, 3)

In [15]:
# tipos de datos

# Boolean Type:	bool
# Boleanos o LOGICOS

# solo pueden tener un valor que sea VERDADERO O FALSE

#  True
# VERDADERO

#  False
# FALSE

b = True
print(b)

d = False
print(d)

True
False

In [16]:
# tipos de datos

#  Binary Types:	bytes, bytearray, memoryview

# Tipos Binarios

bin = b"Hello"

print(bin)

# 2^0  2 a la potencia cero es igual a 1

# 1 = 2^0
# 2 = 2^1
# 3 = 2^1 + 2^0
# 4 = 2^1 + 2^1
# 5 = 2^2 +    + 2^0
# ...

# 1 = binario(1)
# 2 = binario(10)
# 3 = binario(11)
# 4 = binario(100)
# 5 = binario(101)
# ...

b'Hello'

In [17]:
# tipos de datos

"""
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

"""

'\nx = "Hello World"\tstr\t\nx = 20\tint\t\nx = 20.5\tfloat\t\nx = 1j\tcomplex\t\nx = ["apple", "banana", "cherry"]\tlist\t\nx = ("apple", "banana", "cherry")\ttuple\t\nx = range(6)\trange\t\nx = {"name" : "John", "age" : 36}\tdict\t\nx = {"apple", "banana", "cherry"}\tset\t\nx = frozenset({"apple", "banana", "cherry"})\tfrozenset\t\nx = True\tbool\t\nx = b"Hello"\tbytes\t\nx = bytearray(5)\tbytearray\t\nx = memoryview(bytes(5))\tmemoryview\n\n'

In [18]:
# tipos de datos puntuales

"""
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview
"""

'\nx = str("Hello World")\tstr\t\nx = int(20)\tint\t\nx = float(20.5)\tfloat\t\nx = complex(1j)\tcomplex\t\nx = list(("apple", "banana", "cherry"))\tlist\t\nx = tuple(("apple", "banana", "cherry"))\ttuple\t\nx = range(6)\trange\t\nx = dict(name="John", age=36)\tdict\t\nx = set(("apple", "banana", "cherry"))\tset\t\nx = frozenset(("apple", "banana", "cherry"))\tfrozenset\t\nx = bool(5)\tbool\t\nx = bytes(5)\tbytes\t\nx = bytearray(5)\tbytearray\t\nx = memoryview(bytes(5))\tmemoryview\n'

In [20]:
# NUMEROS

#  int
# entero
x = 1    

#  float
# decimal
y = 2.8  

#  complex
# complejo
z = 1j   

# imprimir el tipo de dato de la variable
print(type(x))
print(type(y))
print(type(z))

# imprimir el valor de la variable
print(x)
print(y)
print(z)

<class 'int'>
<class 'float'>
<class 'complex'>
1
2.8
1j

In [22]:
# NUMEROS

#  int

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

# imprimir el valor de la variable
print(x)
print(y)
print(z)

<class 'int'>
<class 'int'>
<class 'int'>
1
35656222554887711
-3255522

In [24]:
# NUMEROS

#  float

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

# imprimir el valor de la variable
print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
1.1
1.0
-35.59

In [27]:
# NUMEROS

#  float

# usando la NOTACION MATEMATICA e

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

# imprimir el valor de la variable
print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
35000.0
120000.0
-8.77e+101

In [28]:
# NUMEROS

#  Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

# imprimir el valor de la variable
print(x)
print(y)
print(z)

<class 'complex'>
<class 'complex'>
<class 'complex'>
(3+5j)
5j
(-0-5j)

In [29]:
# conversiones

#  int
x = 1    
#  float
y = 2.8 
#  complex
z = 1j  

#convert from int to float:
# convertir de int a decimal
a = float(x)

#convert from float to int:
# convertir de decimal a int
b = int(y)

#convert from int to complex:
# convertir de int a comlejo
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [40]:
# NUMEROS ALEATORIOS
# NUMEROS al azar

import random

# genera un NUMERO ALEATORIO entre 1 y 10
print(random.randrange(1, 10))
print(random.randrange(1, 10))
print(random.randrange(1, 10))
# [1:10>

1
4
2

In [47]:

# genera un NUMERO ALEATORIO entre 1 y 3
print(random.randrange(1, 3))
print(random.randrange(1, 3))
# [1:3>

2
2

In [51]:
# genera un NUMERO ALEATORIO entre 2 y 6
print(random.randrange(2, 6))
# [2:6>

2

In [55]:

# rango entre 5 y menor que 20
x = random.randrange(5, 20)
print(x)

18

In [60]:

# rango entre 5 y menor que 21
x = random.randrange(5, 21)
print(x)

8

In [65]:
# PROBLEMA 
# Sumar 2 NUMEROS ALEATORIOS
# cada uno entre el rango de 5 y 20
# 5 MINIMO VALOR
# 20 MAXIMO VALOR

x = random.randrange(5, 21)
print(x)
y = random.randrange(5, 21)
print(y)

print("suma: ",x+y)

20
8
suma:  28

In [67]:
#  Casting

# x es un NUMERO entero
x = int(1)   

# y es un NUMERO entero; pero recibe un valor DECIMAL convertido a entero
y = int(2.8) 

# z es un NUMERO entero; pero recibe un valor TEXTO convertido a entero
z = int("3") 
# "3" es un TEXTO

# imprimir el valor de la variable
print(x)
print(y)
print(z)

print("suma: ",x+y+z)

1
2
3
suma:  6

In [68]:
#  Casting

# todas las variables tienen valores DECIMALES

# recibe un valor entero, convertido a DECIMAL
x = float(1)     

# recibe un valor DECIMAL, convertido a DECIMAL
y = float(2.8)   

# recibe un valor TEXTO, convertido a DECIMAL
z = float("3")   

# recibe un valor TEXTO, convertido a DECIMAL
w = float("4.2")

# imprimir el valor de la variable
print(x)
print(y)
print(z)
print(w)

print("suma: ",x+y+z+w)

1.0
2.8
3.0
4.2
suma:  11.0

In [69]:
#  Casting

# todas las variables son TEXTO

# recibe un valor TEXTO, convertido a TEXTO
x = str("s1") 
# recibe un valor NUMERO, convertido a TEXTO
y = str(2)   
# recibe un valor DECIMAL, convertido a TEXTO
z = str(3.0)  

#  str
# significa cadena de caracteres o TEXTO

# imprimir el valor de la variable
print(x)
print(y)
print(z)

# los valores impresos, son todos TEXTO

s1
2
3.0

In [70]:
#  string
# significa cadena de caracteres o TEXTO

print("Hello")
print('Hola')

Hello
Hola

In [71]:
a = "Hello"
print(a)

Hello

In [74]:
a = """varias
lineas de
texto..."""
print(a)

varias
lineas de
texto...

In [77]:
# El Texto tiene 4 letras

a = "Hola"

print(a[0])
print(a[1])
print(a[2])
print(a[3])

# en la POSICION 0, H
# en la POSICION 1, o
# en la POSICION 2, l
# en la POSICION 3, a

H
o
l
a

In [79]:
# cortes o rebanadas

# El Texto tiene 4 letras
b = "Hola"

print(b[2:4])
# se desea imprimir desde la POSICION 2 hasta la POSICION 4-1

la

In [80]:
# cortes o rebanadas

# El Texto tiene 10 letras
b = "Hola Mundo"

print(b[2:8])
# se desea imprimir desde la POSICION 2 hasta la POSICION 8-1

#  Hola Mundo
#  0123456789

la Mun

In [82]:

b = "Hola Mundo"
print(b[-5:-2])

# Obtenga los caracteres de la posición -5 a la posición -2
# comenzando el conteo desde el final de la cadena

#  Hola Mundo
#  0123456789

#  Hola Mundo
#       543210
#       Mun

Mun

In [83]:
# Longitud del TEXTO
a =  "Hola"
print(len(a))

4

In [84]:
# Longitud del TEXTO
a = "Hola Mundo"
print(len(a))

#  Hola Mundo
#  0123456789

10

In [85]:
a = " Hello Hola Ciao "
print(a.strip())

Hello Hola Ciao

In [86]:
a = "               Hello Hola Ciao "
print(a.strip())
# elimina los espacios en blanco al inicio y final del TEXTO

Hello Hola Ciao

In [87]:
a = " Hello Hola Ciao "
print(a.lower())
# MINUSCULAS

 hello hola ciao

In [88]:
a = " Hello Hola Ciao "
print(a.upper())
# MAYUSCULAS

 HELLO HOLA CIAO

In [89]:
# reemplazar TEXTO
a = "Hello"
print(a.replace("e", "a"))

Hallo

In [90]:
# reemplazar TEXTO
a = "casa"
print(a.replace("a", "e"))
# reemplaza la letra a por la letra e

cese

In [91]:
# texto separado por coma
a = "Hello, Hola, Ciao"
print(a.split(","))
# separa los textos, por medio de las comas

['Hello', ' Hola', ' Ciao']

In [92]:
# texto separado por punto
a = "Hello. Hola. Ciao"
print(a.split("."))
# separa los textos, por medio de los puntos

['Hello', ' Hola', ' Ciao']

In [93]:
# texto separado por espacios
a = "Hello Hola Ciao"
print(a.split(" "))
# separa los textos, por medio de los espacios

['Hello', 'Hola', 'Ciao']

In [95]:
txt =  "Hello Hola Ciao"

# "Hol" ESTA INCLUIDO DENTRO DEL texto ? ( Si / No )
x = "Hola" in txt

# Si
#  True

# No
#  False

print(x)

True

In [96]:
txt =  "Hello Hola Ciao"

# "Cia" ESTA INCLUIDO DENTRO DEL texto ? ( Si / No )
x = "Cia" in txt

print(x)

True

In [97]:
txt =  "Hello Hola Ciao"

# "Hallo" ESTA INCLUIDO DENTRO DEL texto ? ( Si / No )
x = "Hallo" in txt

print(x)
# NO ESTA INCLUIDO DENTRO DEL texto

False

In [99]:
txt =  "Hello Hola Ciao"

# "Hallo" NO ESTA INCLUIDO DENTRO DEL texto ? ( Si / No )
x = "Hallo" not in txt

print(x)

True

In [102]:
# UNION DE TEXTOS
txt1 =  "Hello "
txt2 =  "Hola "
txt3 =  "Ciao "

print(txt1)
print(txt2)
print(txt3)

texto = txt1 + txt2 + txt3
print(texto)

Hello
Hola
Ciao
Hello Hola Ciao

In [104]:
# UNION DE TEXTOS
txt1 =  "Hello"
txt2 =  "Hola"
txt3 =  "Ciao"

print(txt1)
print(txt2)
print(txt3)

texto = txt1 + " " + txt2 + " " + txt3
print(texto)

Hello
Hola
Ciao
Hello Hola Ciao

In [105]:
# UNION DE TEXTOS
txt1 =  "Hello"
txt2 =  "Hola"
txt3 =  "Ciao"

print(txt1)
print(txt2)
print(txt3)

texto = txt1 + ", " + txt2 + ", " + txt3
print(texto)

Hello
Hola
Ciao
Hello, Hola, Ciao

In [108]:
id = 1234

# se convierte el NUMERO a TEXTO
txt = "Name: Hanna, ID " + str(id)
print(txt)

Name: Hanna, ID 1234

In [109]:
# formato de textos

id = 36
txt = "Name: Hanna, ID  {}"
# {} indica que recibe un valor

print(txt.format(id))
# recibe un valor y lo formatea
# formatear es convertir

Name: Hanna, ID  36

In [111]:
id = 1
itemno = 1234
price = 49.95
myorder = "ID {} ITEM {}  USD/ {} "
print(myorder.format(id, itemno, price))

ID 1 ITEM 1234  USD/ 49.95

In [112]:

#  txt = "Hallo "Vikings" de Terra"

# el texto anterior es incorrecto, por el subtexto "Vikings"
# cuando se desea imprimir comillas dobles, se debe usar del siguiente modo:
#  \"Vikings\" 

# " comilla doble

txt = "Hallo \"Vikings\" de Terra"
print(txt)

Hallo "Vikings" de Terra

In [114]:
# caracteres especiales

"""
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
"""

"\n'\tSingle Quote\t\n\\\tBackslash\t\n\n\tNew Line\t\n\r\tCarriage Return\t\n\t\tTab\t\n\x08\tBackspace\t\n\x0c\tForm Feed\t\n"

In [115]:
# repeticiones

txt = "Terra, Gea, Earth, Terra nostra, Terra Nova"

# cuantas veces se repite un texto
x = txt.count("Terra")

print(x)

3

In [116]:
# repeticiones

txt = "Terra, Gea, Earth, Terra nostra, terra Nova"

# cuantas veces se repite un texto
x = txt.count("Terra")

print(x)

2

In [117]:
# encontrar

txt = "Hello Hola Ciao"

x = txt.find("Hola")

print(x)

# Hello Hola Ciao
# 012345678901234
# 0123456

# POSICION donde inicia el TEXTO encontrado

6

In [119]:
txt = "Hello Hola Ciao"

x = txt.index("Hola")

print(x)

# POSICION o INDICE donde inicia el TEXTO encontrado

6

In [120]:
# Compruebe si todos los caracteres del texto son alfanuméricos:

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [122]:
# Compruebe si todos los caracteres del texto son alfanuméricos:

txt = "Company @1"

x = txt.isalnum()

print(x)

# @ no es alfanumérico

False

In [123]:
# Compruebe si todos los caracteres en el texto son dígitos:

txt = "50800"

x = txt.isdigit()

print(x)

True

In [124]:
# Compruebe si todos los caracteres en el texto son dígitos:

txt = "508."

x = txt.isdigit()

print(x)

# . no es dígito

False

In [125]:
# Compruebe si todos los caracteres en el texto son dígitos:

txt = "12b"

x = txt.isdigit()

print(x)

# b no es dígito

False

In [127]:
# Verifique si todos los caracteres en el texto son numéricos:

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [128]:
# Verifique si todos los caracteres en el texto son numéricos:

txt = "565543."

x = txt.isnumeric()

print(x)

False

In [129]:
myTuple = ("John", "Peter", "Vicky")

# une textos de una tupla
x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [130]:
myTuple = ("John", "Peter", "Vicky")

# une textos de una tupla
x = ",".join(myTuple)

print(x)

John,Peter,Vicky

In [131]:
myTuple = ("John", "Peter", "Vicky")

# une textos de una tupla
x = ", ".join(myTuple)

print(x)

John, Peter, Vicky

In [133]:
txt = "Terra, gea, terra Nova"

# convierte texto a TITULO
x = txt.title()

print(x)

Terra, Gea, Terra Nova

In [134]:
txt = "Hello"

# convertir a Letras MAYUSCULAS
x = txt.upper()

print(x)

HELLO

In [135]:
# rellena de ceros a la izquierda de un texto
txt = "50"

x = txt.zfill(4)

print(x)

#   50
# 1234
# 0050

0050

In [136]:
txt = "1234"

x = txt.zfill(8)

print(x)

#    1234ff
#00001234

00001234

In [ ]:
# https://www.w3schools.com/python/ref_string_zfill.asp