In [12]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

print(df1)
print(df2)
print(df3)
print(df4)

   id                    auto  ratio  octanaje  kilometraje
0   1        CAMIONETA NISSAN    5.0        90          500
1   2     AUTO TOYOTA COROLLA    3.5        90           50
2   3  CAMIONETA HYLUX TOYOTA    9.5        98          100
3   4   PICK UP NISSAN NAVARA    8.0        98         1000
   ido  octanaje  precio_octanaje
0    1        90             13.3
1    2        98             16.6
2    3        85             10.0
   id  year  month  day  kilometraje
0   1  2020      8   14          500
1   2  2020      8   14           50
2   3  2020      8   14          100
3   4  2020      8   14         1000
4   1  2020      8   15          100
5   2  2020      8   15          500
6   3  2020      8   15          150
7   4  2020      8   15            0
   ido  year  month  day  precio_octanaje
0    1  2020      8   14             13.3
1    2  2020      8   14             16.6
2    3  2020      8   14             10.0
3    1  2020      8   15             14.0
4    2  2020      8   15             16.0
5    3  2020      8   15              9.5

In [2]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

df1df3 = pd.merge(df1, df3, on='id', how='inner')
print(df1df3)

   id                    auto  ratio  octanaje  kilometraje_x  year  month  \
0   1        CAMIONETA NISSAN    5.0        90            500  2020      8
1   1        CAMIONETA NISSAN    5.0        90            500  2020      8
2   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
3   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
4   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
5   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
6   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8
7   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8

   day  kilometraje_y
0   14            500
1   15            100
2   14             50
3   15            500
4   14            100
5   15            150
6   14           1000
7   15              0

In [13]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

df2df4 = pd.merge(df2, df4, on='id', how='inner')
print(df2df4)

KeyError: 'id'

In [4]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

df1df2 = pd.merge(df1, df2, on='octanaje', how='inner')
print(df1df2)

   id_x                    auto  ratio  octanaje  kilometraje  id_y  \
0     1        CAMIONETA NISSAN    5.0        90          500     1
1     2     AUTO TOYOTA COROLLA    3.5        90           50     1
2     3  CAMIONETA HYLUX TOYOTA    9.5        98          100     2
3     4   PICK UP NISSAN NAVARA    8.0        98         1000     2

   precio_octanaje
0             13.3
1             13.3
2             16.6
3             16.6

In [14]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

df1df3 = pd.merge(df1, df3, on='id', how='inner')
#print(df1df3)

df1df3df2 = pd.merge(df1df3, df2, on='octanaje', how='inner')
print(df1df3df2)

   id                    auto  ratio  octanaje  kilometraje_x  year  month  \
0   1        CAMIONETA NISSAN    5.0        90            500  2020      8
1   1        CAMIONETA NISSAN    5.0        90            500  2020      8
2   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
3   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
4   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
5   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
6   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8
7   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8

   day  kilometraje_y  ido  precio_octanaje
0   14            500    1             13.3
1   15            100    1             13.3
2   14             50    1             13.3
3   15            500    1             13.3
4   14            100    2             16.6
5   15            150    2             16.6
6   14           1000    2             16.6
7   15              0    2             16.6

In [17]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

df1df3 = pd.merge(df1, df3, on='id', how='inner')
#print(df1df3)

df1df3df2 = pd.merge(df1df3, df2, on='octanaje', how='inner')
#print(df1df3df2)

df1df3df2df4 = pd.merge(df1df3df2, df4, on='ido', how='inner')
# ????
print(df1df3df2df4)

    id                    auto  ratio  octanaje  kilometraje_x  year_x  \
0    1        CAMIONETA NISSAN    5.0        90            500    2020
1    1        CAMIONETA NISSAN    5.0        90            500    2020
2    1        CAMIONETA NISSAN    5.0        90            500    2020
3    1        CAMIONETA NISSAN    5.0        90            500    2020
4    2     AUTO TOYOTA COROLLA    3.5        90             50    2020
5    2     AUTO TOYOTA COROLLA    3.5        90             50    2020
6    2     AUTO TOYOTA COROLLA    3.5        90             50    2020
7    2     AUTO TOYOTA COROLLA    3.5        90             50    2020
8    3  CAMIONETA HYLUX TOYOTA    9.5        98            100    2020
9    3  CAMIONETA HYLUX TOYOTA    9.5        98            100    2020
10   3  CAMIONETA HYLUX TOYOTA    9.5        98            100    2020
11   3  CAMIONETA HYLUX TOYOTA    9.5        98            100    2020
12   4   PICK UP NISSAN NAVARA    8.0        98           1000    2020
13   4   PICK UP NISSAN NAVARA    8.0        98           1000    2020
14   4   PICK UP NISSAN NAVARA    8.0        98           1000    2020
15   4   PICK UP NISSAN NAVARA    8.0        98           1000    2020

    month_x  day_x  kilometraje_y  ido  precio_octanaje_x  year_y  month_y  \
0         8     14            500    1               13.3    2020        8
1         8     14            500    1               13.3    2020        8
2         8     15            100    1               13.3    2020        8
3         8     15            100    1               13.3    2020        8
4         8     14             50    1               13.3    2020        8
5         8     14             50    1               13.3    2020        8
6         8     15            500    1               13.3    2020        8
7         8     15            500    1               13.3    2020        8
8         8     14            100    2               16.6    2020        8
9         8     14            100    2               16.6    2020        8
10        8     15            150    2               16.6    2020        8
11        8     15            150    2               16.6    2020        8
12        8     14           1000    2               16.6    2020        8
13        8     14           1000    2               16.6    2020        8
14        8     15              0    2               16.6    2020        8
15        8     15              0    2               16.6    2020        8

    day_y  precio_octanaje_y
0      14               13.3
1      15               14.0
2      14               13.3
3      15               14.0
4      14               13.3
5      15               14.0
6      14               13.3
7      15               14.0
8      14               16.6
9      15               16.0
10     14               16.6
11     15               16.0
12     14               16.6
13     15               16.0
14     14               16.6
15     15               16.0

In [20]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')

df1df3 = pd.merge(df1, df3, on='id', how='inner')
#print(df1df3)

df1df3df2 = pd.merge(df1df3, df2, on='octanaje', how='inner')
#print(df1df3df2)

# ?
#df1df3df2df4 = pd.merge(df1df3df2, df4, on='ido,year,month,day', how='inner')

#new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])
df1df3df2df4 = pd.merge(df1df3df2, df4, how='inner', left_on=['ido','year','month','day'], right_on = ['ido','year','month','day'])
print(df1df3df2df4)

   id                    auto  ratio  octanaje  kilometraje_x  year  month  \
0   1        CAMIONETA NISSAN    5.0        90            500  2020      8
1   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
2   1        CAMIONETA NISSAN    5.0        90            500  2020      8
3   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
4   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
5   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8
6   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
7   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8

   day  kilometraje_y  ido  precio_octanaje_x  precio_octanaje_y
0   14            500    1               13.3               13.3
1   14             50    1               13.3               13.3
2   15            100    1               13.3               14.0
3   15            500    1               13.3               14.0
4   14            100    2               16.6               16.6
5   14           1000    2               16.6               16.6
6   15            150    2               16.6               16.0
7   15              0    2               16.6               16.0

In [23]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')
df1df3 = pd.merge(df1, df3, on='id', how='inner')
df1df3df2 = pd.merge(df1df3, df2, on='octanaje', how='inner')
df1df3df2df4 = pd.merge(df1df3df2, df4, how='inner', left_on=['ido','year','month','day'], right_on = ['ido','year','month','day'])
print(df1df3df2df4)
sumatoria_precio_total = 0
for i, row in df1df3df2df4.iterrows():
    precio_de_combustible = row[8] *  row[11] 
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

   id                    auto  ratio  octanaje  kilometraje_x  year  month  \
0   1        CAMIONETA NISSAN    5.0        90            500  2020      8
1   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
2   1        CAMIONETA NISSAN    5.0        90            500  2020      8
3   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
4   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
5   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8
6   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
7   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8

   day  kilometraje_y  ido  precio_octanaje_x  precio_octanaje_y
0   14            500    1               13.3               13.3
1   14             50    1               13.3               13.3
2   15            100    1               13.3               14.0
3   15            500    1               13.3               14.0
4   14            100    2               16.6               16.6
5   14           1000    2               16.6               16.6
6   15            150    2               16.6               16.0
7   15              0    2               16.6               16.0
\sumatoria_precio_total PEN/SOL: 36375.0

In [24]:
import pandas as pd
df1 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos2.xlsx', sheet_name='Hoja4')
df1df3 = pd.merge(df1, df3, on='id', how='inner')
df1df3df2 = pd.merge(df1df3, df2, on='octanaje', how='inner')
df1df3df2df4 = pd.merge(df1df3df2, df4, how='inner', left_on=['ido','year','month','day'], right_on = ['ido','year','month','day'])
print(df1df3df2df4)
sumatoria_precio_total = 0
for i, row in df1df3df2df4.iterrows():
    precio_de_combustible = row[8] *  row[11] / row[2]
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

   id                    auto  ratio  octanaje  kilometraje_x  year  month  \
0   1        CAMIONETA NISSAN    5.0        90            500  2020      8
1   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
2   1        CAMIONETA NISSAN    5.0        90            500  2020      8
3   2     AUTO TOYOTA COROLLA    3.5        90             50  2020      8
4   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
5   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8
6   3  CAMIONETA HYLUX TOYOTA    9.5        98            100  2020      8
7   4   PICK UP NISSAN NAVARA    8.0        98           1000  2020      8

   day  kilometraje_y  ido  precio_octanaje_x  precio_octanaje_y
0   14            500    1               13.3               13.3
1   14             50    1               13.3               13.3
2   15            100    1               13.3               14.0
3   15            500    1               13.3               14.0
4   14            100    2               16.6               16.6
5   14           1000    2               16.6               16.6
6   15            150    2               16.6               16.0
7   15              0    2               16.6               16.0
\sumatoria_precio_total PEN/SOL: 6302.368421052632