In [1]:
# consumo de combustible por unidad vehicular

# OUTPUT :
# consumo_de_combustible  # gl

# INPUT :
# km_recorridos # Km
# galones_x_km # gl/Km

# galones_x_km , CAMIONETA NISSAN  5 gl x 100 Km
# galones_x_km , 5/100

# int  ENTEROS
# float DECIMALES

km_recorridos=float(input("km_recorridos:"))
galones_x_km= float(input("galones_x_km"))

# FORMULA
consumo_de_combustible =  km_recorridos * galones_x_km

print("consumo_de_combustible:", consumo_de_combustible)

km_recorridos:100
galones_x_km0.05
consumo_de_combustible: 5.0

In [2]:
# consumo de combustible por unidad vehicular

# galones_x_km , CAMIONETA NISSAN  5 gl x 100 Km

km_recorridos=float(input("km_recorridos:"))
# galones_x_km= float(input("galones_x_km"))
galones_x_km = 5/100

# FORMULA
consumo_de_combustible =  km_recorridos * galones_x_km

print("consumo_de_combustible:", consumo_de_combustible)

km_recorridos:100
consumo_de_combustible: 5.0

In [3]:
# consumo de combustible por unidad vehicular

# galones_x_km , CAMIONETA NISSAN  5 gl x 100 Km
# galones_x_km , AUTO TOYOTA COROLLA  3.5 gl x 100 Km

print("CAMIONETA NISSAN")
km_recorridos=float(input("km_recorridos:"))

galones_x_km = 5/100

# FORMULA
consumo_de_combustible =  km_recorridos * galones_x_km

print("consumo_de_combustible  gl. :", consumo_de_combustible)

CAMIONETA NISSAN
km_recorridos:100
consumo_de_combustible  gl. : 5.0

In [4]:
# consumo de combustible por unidad vehicular

# galones_x_km , CAMIONETA NISSAN  5 gl x 100 Km
# galones_x_km , AUTO TOYOTA COROLLA  3.5 gl x 100 Km

print("AUTO TOYOTA COROLLA")
km_recorridos=float(input("km_recorridos:"))

galones_x_km = 3.5/100

# FORMULA
consumo_de_combustible =  km_recorridos * galones_x_km

print("consumo_de_combustible  gl. :", consumo_de_combustible)

AUTO TOYOTA COROLLA
km_recorridos:100
consumo_de_combustible  gl. : 3.5000000000000004

In [5]:
# consumo de combustible por unidad vehicular

# galones_x_km , CAMIONETA NISSAN  5 gl x 100 Km
# galones_x_km , AUTO TOYOTA COROLLA  3.5 gl x 100 Km
# galones_x_km , CAMIONETA HYLUX TOYOTA  9.5 gl x 100 Km

print("CAMIONETA HYLUX TOYOTA")
km_recorridos=float(input("km_recorridos:"))

galones_x_km = 9.5/100

# FORMULA
consumo_de_combustible =  km_recorridos * galones_x_km

print("consumo_de_combustible  gl. :", consumo_de_combustible)

CAMIONETA HYLUX TOYOTA
km_recorridos:100
consumo_de_combustible  gl. : 9.5

In [6]:
# array
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]

print(cars)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']

In [7]:
# array
ratio = [5 , 3.5 , 9.5]

print(ratio)

[5, 3.5, 9.5]

In [11]:
# array
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]

print(cars)

# array
ratio = [5 , 3.5 , 9.5]

print(ratio)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]

In [10]:
kilometraje = [100,100,100]
print(kilometraje)

[100, 100, 100]

In [12]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

# FORMULA
# consumo_de_combustible =  km_recorridos * galones_x_km

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

In [15]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

print("")
print(cars[0])
consumo_de_combustible = kilometraje[0] * ratio[0]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0

In [16]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

print("")
print(cars[1])
consumo_de_combustible = kilometraje[1] * ratio[1]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5

In [17]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

print("")
print(cars[2])
consumo_de_combustible = kilometraje[2] * ratio[2]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5

In [18]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

i = 0

print("")
print(cars[i])
consumo_de_combustible = kilometraje[i] * ratio[i]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0

In [19]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

i = 1

print("")
print(cars[i])
consumo_de_combustible = kilometraje[i] * ratio[i]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5

In [20]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

i = 2

print("")
print(cars[i])
consumo_de_combustible = kilometraje[i] * ratio[i]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5

In [ ]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

i = 2

print("")
print(cars[i])
consumo_de_combustible = kilometraje[i] * ratio[i]/100

print("consumo_de_combustible  gl. :", consumo_de_combustible)

In [21]:
# 0,1,2
# range(3)

for x in range(3):
  print(x)

0
1
2

In [22]:
for i in range(3):
  print(i)

0
1
2

In [23]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA"]
ratio = [5 , 3.5 , 9.5]
kilometraje = [100,100,100]

print(cars)
print(ratio)
print(kilometraje)

for i in range(3):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA']
[5, 3.5, 9.5]
[100, 100, 100]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5

In [24]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]

print(cars)
print(ratio)
print(kilometraje)

for i in range(3):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5

In [25]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]

print(cars)
print(ratio)
print(kilometraje)

for i in range(4):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0

In [26]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]

print(cars)
print(ratio)
print(kilometraje)

# len, brinda la cantidad de elementos del Array
x = len(cars)

for i in range(x):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0

In [29]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]
tipooctanaje = [90, 90, 98, 98]

octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

            
print(cars)
print(ratio)
print(kilometraje)
print(tipooctanaje)

print(octanaje)
print(precio_octanaje)

# len, brinda la cantidad de elementos del Array
x = len(cars)

for i in range(x):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    precio_de_combustible = 0
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]
[90, 90, 98, 98]
[90, 98]
[13.3, 16.6]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
precio_de_combustible  PEN/SOL : 0

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
precio_de_combustible  PEN/SOL : 0

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 0

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0
precio_de_combustible  PEN/SOL : 0

In [33]:
octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

print(octanaje)
print(precio_octanaje)

precio = 0
y = len(octanaje)
print(y)

for j in range(y):
    print(octanaje[j])

[90, 98]
[13.3, 16.6]
2
90
98

In [36]:
octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

print(octanaje)
print(precio_octanaje)

y = len(octanaje)
valor = 90

for j in range(y):
    if valor == octanaje[j]:
        print(octanaje[j])
        print(precio_octanaje[j])

[90, 98]
[13.3, 16.6]
90
13.3

In [37]:
octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

print(octanaje)
print(precio_octanaje)

y = len(octanaje)
valor = 98

for j in range(y):
    if valor == octanaje[j]:
        print(octanaje[j])
        print(precio_octanaje[j])

[90, 98]
[13.3, 16.6]
98
16.6

In [39]:
octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

print(octanaje)
print(precio_octanaje)

y = len(octanaje)
xoctanaje = 98

xprecio_octanaje = 0

for j in range(y):
    if xoctanaje == octanaje[j]:
        xprecio_octanaje = precio_octanaje[j]
 
print(xprecio_octanaje)

[90, 98]
[13.3, 16.6]
16.6

In [40]:
octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

print(octanaje)
print(precio_octanaje)

y = len(octanaje)
xoctanaje = 90

xprecio_octanaje = 0

for j in range(y):
    if xoctanaje == octanaje[j]:
        xprecio_octanaje = precio_octanaje[j]
 
print(xprecio_octanaje)

[90, 98]
[13.3, 16.6]
13.3

In [41]:
octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

print(octanaje)
print(precio_octanaje)

y = len(octanaje)
xoctanaje = 85

xprecio_octanaje = 0

for j in range(y):
    if xoctanaje == octanaje[j]:
        xprecio_octanaje = precio_octanaje[j]
 
print(xprecio_octanaje)

[90, 98]
[13.3, 16.6]
0

In [30]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]
tipooctanaje = [90, 90, 98, 98]

octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

            
print(cars)
print(ratio)
print(kilometraje)
print(tipooctanaje)

print(octanaje)
print(precio_octanaje)

# len, brinda la cantidad de elementos del Array
x = len(cars)

for i in range(x):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xtipooctanaje = tipooctanaje[i]
    
    precio_octanaje_vehiculo = 0
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]
[90, 90, 98, 98]
[90, 98]
[13.3, 16.6]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
precio_de_combustible  PEN/SOL : 0.0

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
precio_de_combustible  PEN/SOL : 0.0

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 0.0

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0
precio_de_combustible  PEN/SOL : 0.0

In [43]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]
tipooctanaje = [90, 90, 98, 98]

octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

            
print(cars)
print(ratio)
print(kilometraje)
print(tipooctanaje)

print(octanaje)
print(precio_octanaje)

# len, brinda la cantidad de elementos del Array
x = len(cars)

for i in range(x):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)
        
    y = len(octanaje)
    xoctanaje = tipooctanaje[i]
    xprecio_octanaje = 0
    for j in range(y):
        if xoctanaje == octanaje[j]:
            xprecio_octanaje = precio_octanaje[j]
    print("xprecio_octanaje: ",xprecio_octanaje)

    
    precio_octanaje_vehiculo = xprecio_octanaje
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]
[90, 90, 98, 98]
[90, 98]
[13.3, 16.6]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 66.5

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 46.550000000000004

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 157.70000000000002

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 132.8

In [44]:
# sumatoria
a=10
b=20
s = a + b
print(s)

30

In [45]:
r = [1,2,3,4]
print(r)

[1, 2, 3, 4]

In [47]:
r = [1,2,3,4]
print(r)

x = len(r)

for i in range(x):
    num = r[i]
    print(num*num)

[1, 2, 3, 4]
1
4
9
16

In [48]:
r = [1,2,3,4]
print(r)

x = len(r)
sumatoria = 0
for i in range(x):
    num = r[i]
    print(num*num)
    sumatoria = sumatoria + num*num
    
print("sumatoria:",sumatoria)

[1, 2, 3, 4]
1
4
9
16
sumatoria: 30

In [50]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [100,100,100,100]
tipooctanaje = [90, 90, 98, 98]

octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

            
print(cars)
print(ratio)
print(kilometraje)
print(tipooctanaje)

print(octanaje)
print(precio_octanaje)

# len, brinda la cantidad de elementos del Array
x = len(cars)
sumatoria = 0
for i in range(x):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)
        
    y = len(octanaje)
    xoctanaje = tipooctanaje[i]
    xprecio_octanaje = 0
    for j in range(y):
        if xoctanaje == octanaje[j]:
            xprecio_octanaje = precio_octanaje[j]
    print("xprecio_octanaje: ",xprecio_octanaje)

    
    precio_octanaje_vehiculo = xprecio_octanaje
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria = sumatoria + precio_de_combustible
    
print("")    
print("sumatoria PEN/SOL:",sumatoria)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[100, 100, 100, 100]
[90, 90, 98, 98]
[90, 98]
[13.3, 16.6]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 66.5

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 46.550000000000004

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 157.70000000000002

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 132.8

sumatoria PEN/SOL: 403.55

In [51]:
# arrays
cars = ["CAMIONETA NISSAN", "AUTO TOYOTA COROLLA", "CAMIONETA HYLUX TOYOTA", "PICK UP NISSAN NAVARA"]
ratio = [5 , 3.5 , 9.5, 8]
kilometraje = [500,50,100,1000]
tipooctanaje = [90, 90, 98, 98]

octanaje = [90, 98]
precio_octanaje = [13.30 , 16.60]

            
print(cars)
print(ratio)
print(kilometraje)
print(tipooctanaje)

print(octanaje)
print(precio_octanaje)

# len, brinda la cantidad de elementos del Array
x = len(cars)
sumatoria = 0
for i in range(x):
    print("")
    print(cars[i])
    consumo_de_combustible = kilometraje[i] * ratio[i]/100

    print("consumo_de_combustible  gl. :", consumo_de_combustible)
        
    y = len(octanaje)
    xoctanaje = tipooctanaje[i]
    xprecio_octanaje = 0
    for j in range(y):
        if xoctanaje == octanaje[j]:
            xprecio_octanaje = precio_octanaje[j]
    print("xprecio_octanaje: ",xprecio_octanaje)

    
    precio_octanaje_vehiculo = xprecio_octanaje
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria = sumatoria + precio_de_combustible
    
print("")    
print("sumatoria PEN/SOL:",sumatoria)

['CAMIONETA NISSAN', 'AUTO TOYOTA COROLLA', 'CAMIONETA HYLUX TOYOTA', 'PICK UP NISSAN NAVARA']
[5, 3.5, 9.5, 8]
[500, 50, 100, 1000]
[90, 90, 98, 98]
[90, 98]
[13.3, 16.6]

CAMIONETA NISSAN
consumo_de_combustible  gl. : 25.0
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 332.5

AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 1.75
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 23.275000000000002

CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 157.70000000000002

PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 80.0
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 1328.0

sumatoria PEN/SOL: 1841.475