In [3]:
# df dataframe

import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
print (df1)

   id                    auto  ratio  tipooctanaje  kilometraje
0   1        CAMIONETA NISSAN    5.0            90          100
1   2     AUTO TOYOTA COROLLA    3.5            90          100
2   3  CAMIONETA HYLUX TOYOTA    9.5            98          100
3   4   PICK UP NISSAN NAVARA    8.0            98          100

In [2]:
import pandas as pd
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
print (df2)

   id  octanaje  precio_octanaje
0   1        90             13.3
1   2        98             16.6

In [4]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
print (df1)
print (df2)

   id                    auto  ratio  tipooctanaje  kilometraje
0   1        CAMIONETA NISSAN    5.0            90          100
1   2     AUTO TOYOTA COROLLA    3.5            90          100
2   3  CAMIONETA HYLUX TOYOTA    9.5            98          100
3   4   PICK UP NISSAN NAVARA    8.0            98          100
   id  octanaje  precio_octanaje
0   1        90             13.3
1   2        98             16.6

In [5]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    print(row)

id                             1
auto            CAMIONETA NISSAN
ratio                          5
tipooctanaje                  90
kilometraje                  100
Name: 0, dtype: object
id                                2
auto            AUTO TOYOTA COROLLA
ratio                           3.5
tipooctanaje                     90
kilometraje                     100
Name: 1, dtype: object
id                                   3
auto            CAMIONETA HYLUX TOYOTA
ratio                              9.5
tipooctanaje                        98
kilometraje                        100
Name: 2, dtype: object
id                                  4
auto            PICK UP NISSAN NAVARA
ratio                               8
tipooctanaje                       98
kilometraje                       100
Name: 3, dtype: object

In [7]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    print(row[0])
    print(row[1])

1
CAMIONETA NISSAN
2
AUTO TOYOTA COROLLA
3
CAMIONETA HYLUX TOYOTA
4
PICK UP NISSAN NAVARA

In [8]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    print(row[2])
    print(row[4])

5.0
100
3.5
100
9.5
100
8.0
100

In [9]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    #  consumo_de_combustible = kilometraje[i] * ratio[i]/100
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)

consumo_de_combustible  gl. : 5.0
consumo_de_combustible  gl. : 3.5
consumo_de_combustible  gl. : 9.5
consumo_de_combustible  gl. : 8.0

In [11]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    print(row[1])
    #  consumo_de_combustible = kilometraje[i] * ratio[i]/100
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0

In [13]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

xoctanaje = 90
xprecio_octanaje = 0
for j, row2 in df2.iterrows():    
    if xoctanaje == row2[1]:
        xprecio_octanaje = row2[2]
print("xprecio_octanaje: ",xprecio_octanaje)

xprecio_octanaje:  13.3

In [14]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

xoctanaje = 98
xprecio_octanaje = 0
for j, row2 in df2.iterrows():    
    if xoctanaje == row2[1]:
        xprecio_octanaje = row2[2]
print("xprecio_octanaje: ",xprecio_octanaje)

xprecio_octanaje:  16.6

In [15]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

xoctanaje = 85
xprecio_octanaje = 0
for j, row2 in df2.iterrows():    
    if xoctanaje == row2[1]:
        xprecio_octanaje = row2[2]
print("xprecio_octanaje: ",xprecio_octanaje)

xprecio_octanaje:  0

In [17]:

import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    print(row[1])
    #  consumo_de_combustible = kilometraje[i] * ratio[i]/100
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    xprecio_octanaje = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            xprecio_octanaje = row2[2]
    print("xprecio_octanaje: ",xprecio_octanaje)

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
xprecio_octanaje:  13.3
AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
xprecio_octanaje:  13.3
CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
xprecio_octanaje:  16.6
PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0
xprecio_octanaje:  16.6

In [18]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')

for i, row in df1.iterrows():
    print(row[1])
    #  consumo_de_combustible = kilometraje[i] * ratio[i]/100
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    xprecio_octanaje = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            xprecio_octanaje = row2[2]
    print("xprecio_octanaje: ",xprecio_octanaje)
    
    precio_octanaje_vehiculo = xprecio_octanaje
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)

CAMIONETA NISSAN
consumo_de_combustible  gl. : 5.0
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 66.5
AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 3.5
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 46.550000000000004
CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 157.70000000000002
PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 8.0
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 132.8

In [20]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
sumatoria = 0
for i, row in df1.iterrows():
    print(row[1])
    #  consumo_de_combustible = kilometraje[i] * ratio[i]/100
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    xprecio_octanaje = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            xprecio_octanaje = row2[2]
    print("xprecio_octanaje: ",xprecio_octanaje)
    
    precio_octanaje_vehiculo = xprecio_octanaje
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria = sumatoria + precio_de_combustible
    
    
print("")    
print("sumatoria PEN/SOL:",sumatoria)

CAMIONETA NISSAN
consumo_de_combustible  gl. : 25.0
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 332.5
AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 1.75
xprecio_octanaje:  13.3
precio_de_combustible  PEN/SOL : 23.275000000000002
CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 157.70000000000002
PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 80.0
xprecio_octanaje:  16.6
precio_de_combustible  PEN/SOL : 1328.0

sumatoria PEN/SOL: 1841.475

In [25]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
sumatoria = 0
for i, row in df1.iterrows():
    print(row[1])
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    precio_octanaje_vehiculo = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            precio_octanaje_vehiculo = row2[2]

    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria = sumatoria + precio_de_combustible
    
print("\nsumatoria PEN/SOL:",sumatoria)

CAMIONETA NISSAN
consumo_de_combustible  gl. : 25.0
precio_de_combustible  PEN/SOL : 332.5
AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 1.75
precio_de_combustible  PEN/SOL : 23.275000000000002
CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 157.70000000000002
PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 80.0
precio_de_combustible  PEN/SOL : 1328.0
X
consumo_de_combustible  gl. : 7.0
precio_de_combustible  PEN/SOL : 93.10000000000001
Y
consumo_de_combustible  gl. : 4.5
precio_de_combustible  PEN/SOL : 45.0

sumatoria PEN/SOL: 1979.5749999999998

In [28]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

print(df1)
print(df2)
print(df3)
print(df4)

   id                    auto  ratio  tipooctanaje  kilometraje
0   1        CAMIONETA NISSAN    5.0            90          500
1   2     AUTO TOYOTA COROLLA    3.5            90           50
2   3  CAMIONETA HYLUX TOYOTA    9.5            98          100
3   4   PICK UP NISSAN NAVARA    8.0            98         1000
   id  octanaje  precio_octanaje
0   1        90             13.3
1   2        98             16.6
2   3        85             10.0
   id  year  month  day  kilometraje
0   1  2020      8   14          500
1   2  2020      8   14           50
2   3  2020      8   14          100
3   4  2020      8   14         1000
4   1  2020      8   15            0
5   2  2020      8   15          500
6   3  2020      8   15          150
7   4  2020      8   15            0
   id  year  month  day  precio_octanaje
0   1  2020      8   14             13.3
1   2  2020      8   14             16.6
2   3  2020      8   14             10.0
3   1  2020      8   15             14.0
4   2  2020      8   15             16.0
5   3  2020      8   15              9.5